.notesAppDiv {
    width: 85%;
    height: 100%;
}

#addNoteDiv {
    background-color: #3a3f47;
    display: flex;
    box-shadow: var(--box-shadow);
}

#newNoteTextField {
    font-size: medium;
    color: white;
    height: 45px;
    padding-left: 10px;
    margin-right: 25px;
    width: 75%;
    border: none;
    background-color: #3a3f47;
    outline: none;
}

#newNoteButton {
    padding: 0;
    font-size: medium;
    width: 25%;
    border: none;
    background-color: rgba(90, 143, 38, 0.808);
    color: black;
}

#newNoteTextField:hover {
    background-color: #3a3f47;
}

#newNoteButton:hover {
    cursor: pointer;
    background-color: rgba(106, 168, 44, 0.808);
}

.notesList {
    width: 100%;
    display: grid;
    list-style-type: none;
    padding: 0;
    margin-bottom: 80px;
    overflow-x: auto;
    white-space: nowrap;
}

.noteListItem {
    height: 47px;
    display: flex; 
    background-color: #3a3f47;

    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    box-shadow: var(--box-shadow);
}

.noteListItemText {
    overflow: scroll;
    padding-left: 15px;
    margin-right: 15px;
    align-content: center;
    text-align: left;
    font-size: medium;
    color: white;
    width: 75%;
}

.noteListItemButton {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}

#removeNoteButton {
    font-size: medium;
    margin: 0;
    height: 100%;
    width: 100%;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(126, 34, 34, 0.808);
    padding: 0;
}

@media (max-width: 768px) {
    #newNoteButton {
        width: 25.5%;
    }
}